<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>com.mypack.servlets.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deneme</servlet-name>
        <servlet-class>com.mypack.servlets.deneme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcomeServ</servlet-name>
        <servlet-class>com.mypack.servlets.welcomeServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServ</servlet-name>
        <servlet-class>com.mypack.servlets.logoutServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/loginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deneme</servlet-name>
        <url-pattern>/deneme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcomeServ</servlet-name>
        <url-pattern>/welcomeServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServ</servlet-name>
        <url-pattern>/logoutServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>adminArea</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <login-config>
        <realm-name>JDBCRealm</realm-name>
    </login-config>
</web-app>
